/* color: white; */
.error{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.error__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.error__image{
  width: 200px;
  margin-bottom: 10px;
}
