/* color: white; */
.container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container-error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

img{
  width: 200px;
  margin-bottom: 10px;
}
