<div *ngIf="dataModelTrack" class="model">
  <img src="{{ dataModelTrack.album.images[0].url }}" alt="" />
  <div class="text">
    <div class="data__information">Album:{{ dataModelTrack.album.name }}</div>
    <div class="data__type">Track</div>
    <div class="data__name">{{ dataModelTrack.name }}</div>
    <div class="data__number">Track Number:{{dataModelTrack.track_number}}</div>
  </div>
</div>

<div *ngIf="dataModelAlbum" class="model">
  <img src="{{ dataModelAlbum.images[0].url }}" alt="" />
  <div class="text">
    <div class="data__information">Release Date: {{ dataModelAlbum.release_date }}</div>
    <div class="data__type">Album</div>
    <div class="data__name">{{ dataModelAlbum.name }}</div>
    <div class="data__number">Total Tracks: {{ dataModelAlbum.total_tracks }}</div>
  </div>
</div>
