<div class="artist">
  <div class="artis__container">
    <img
      class="artist__background"
      src="{{ artistDetails.images[0].url }}"
      alt=""
    />

    <div class="artist__text">
      <h1 class="artist__title-principal">{{ artistDetails.name }}</h1>

      <div class="artist__information">
        <h3 class="artist__subtitle-principal">popularity:</h3>
        <app-star-rating
          [value]="artistDetails.popularity"
          style="margin-right: 20px"
        ></app-star-rating>

        <h3 class="artist__subtitle-principal">followers:</h3>
        <h3 class="artist__subtitle-principal">
          {{ artistDetails.followers.total | number }}
        </h3>
      </div>
    </div>
  </div>

  <h1 class="artist__title">Albums</h1>
  <div class="artist__albums">
    <mat-card class="artist__album" *ngFor="let album of albums">
      <div class="artist__album-image">
        <img
          (click)="openDialog(album)"
          mat-card-image
          src="{{ album.images[0].url }}"
        />
        <mat-icon
          class="artist__add-icon"
          fontIcon="add"
          (click)="sendAlbum(album)"
        ></mat-icon>
      </div>
      <mat-card-header class="artist__card-header" (click)="openDialog(album)">
        <div>
          <mat-card-title class="artist__card-title">{{
            album.name
          }}</mat-card-title>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <h1 class="artist__title">Top Tracks</h1>
  <div class="artist__tracks-container mat-elevation-z8">
    <table class="artist__table" mat-table [dataSource]="dataSourceTracks">
      <ng-container matColumnDef="name">
        <th class="artist__table-title" mat-header-cell *matHeaderCellDef>
          Tracks
        </th>
        <td
          (click)="openDialog(element)"
          class="artist__track-information"
          mat-cell
          *matCellDef="let element"
        >
          <img
            class="artist__table-image"
            src="{{ element.album.images[0].url }}"
            alt=""
          />
          <div class="artist_table-details">
            <div>{{ element.name }}</div>
            <div class="artist__artist-names">
              <span
                *ngFor="let artist of element.album.artists; let last = last"
              >
                {{ artist.name }}
                <ng-container *ngIf="!last">, </ng-container>
              </span>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="album">
        <th class="artist__table-title" mat-header-cell *matHeaderCellDef>
          Album
        </th>
        <td
          class="artist__table-subtitle"
          (click)="openDialog(element)"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.album.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="trackInAlbum">
        <th class="artist__table-title" mat-header-cell *matHeaderCellDef>
          # Tracks in Album
        </th>

        <td
          class="artist__table-subtitle"
          (click)="openDialog(element)"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.track_number }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsTracks"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTracks"></tr>
    </table>
  </div>
  <h1 class="artist__title">Added</h1>

  <div class="mat-elevation-z8">
    <table class="artist__table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th class="artist__table-title" mat-header-cell *matHeaderCellDef>
          albums
        </th>
        <td class="artist__added-album" mat-cell *matCellDef="let element">
          <div class="artist__added-information">
            <img class="artist__added-image" src="{{ element.images[0].url }}" alt="" />

            {{ element.name }}
          </div>

        </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th class="artist__table-title" mat-header-cell *matHeaderCellDef>
          Date
        </th>
        <td class="artist__added-album" mat-cell *matCellDef="let element">
          {{ element.release_date }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <br />
  <h1 class="artist__title">New Album</h1>
  <form [formGroup]="formAlbum" (ngSubmit)="send()">
    <div class="artist__form">
      <p>
        <mat-form-field appearance="fill">
          <input formControlName="name" matInput placeholder="Album Name" required/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input
            matInput
            formControlName="year"
            type="number"
            placeholder="Album Year"
            required
            pattern={{REGEX_YEAR}}
          />
          <mat-error *ngIf="formAlbum.get('year').hasError('pattern')">Year must be 4 digits.</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input
            matInput
            formControlName="url"
            placeholder="Url Image"
            required
            pattern={{REGEX_URL}}
          />
          <mat-error *ngIf="formAlbum.get('url').hasError('pattern')">Invalid URL.</mat-error>
        </mat-form-field>
      </p>
      <button mat-raised-button class="artist__button" color="primary" [disabled]="!formAlbum.valid">
        Primary
      </button>
    </div>
  </form>

</div>
