.artist {
  padding: 16px;
}

.artis__container {
  width: 98vw;
  height: 378px;
  overflow: var(--overflow);
  position: relative;
}

.artist__background {
  width: 99vw;
  height: 378px;
  filter: blur(4px);
  display: block;
  position: absolute;
}

.artist__text {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:var(--justify-content);
  align-items: center;
  height: 100%;
}

.artist__title-principal {
  color: #ffffffe0;
  font-size: 100px;
  text-shadow: 1px 1px 5px black;
  font-family: "Concert One", sans-serif;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 30px;
}

.artist__subtitle-principal {
  color: white;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}

.artist__title {
  font-family: "Concert One", sans-serif;
  padding: 19px 0px 0px 17px;
  margin: 0;
  font-size: 35px;
  color: #ffffffe0;
  margin-bottom: 30px;
}

.artist__albums {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 20px;
  cursor: pointer;
}

.artist__information {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.artist__album-image {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.artist__album {
  display: grid;
  background-color: #242424;
  color: white;
  width: 151px;
  height: 208px;
}

.artist__album img {
  max-width: 91%;
  max-height: 100%;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.artist__album:hover{
  background: #24242482;
}
.artist__card-header {
  height: 70px;
  padding: 8px 16px 0;
  justify-content:var(--justify-content);
  text-align: center;
}

.artist__card-title {
  font-size: 12px;
  line-height: 1;
}

.artist__table {
  background-color: #242424;
}

.artist__track-information {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;

}
.artist__tracks-container tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted{
  cursor: pointer;
}

.artist__tracks-container tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted:hover {
  background: black;
}
.artist__table-image {
  width: 35px;
}
.artist__added-image {
  width: 35px;
  margin-right: 10px;
}

.artist__added-information {
  display: flex;
  align-items: center;
}

.artist__add-icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: white;
  background: green;
  border-radius: 100%;
  cursor: pointer;
}

.artist__form {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;
  margin-left: 15px
}

.artist_table-details {
  display: flex;
  flex-direction: column;
}

.artist__artist-names {
  font-size: 11px;
  display: flex;
}

.mat-mdc-cell {
  border-bottom-style: none;
}

.artist__added-album,
.artist__table-subtitle,
.artist__table-title {
  color: white;
}

.artist__button {
  --mdc-protected-button-container-color: #347505;
  margin-bottom: 15px
}

.artist__button:hover {
  --mdc-protected-button-container-color: #57d200;
}
.artist__add-icon:hover{
  background: #57d200;
}

@media (max-width: 767px) {
  .artist {
    padding: 0;
  }
  .artis__container {
    width: auto;
  }
  .artist__title-principal {
    font-size: 49px;
  }
  .artist__information {
    display: flow;
    margin-top: 0;
  }
  .artist_table-details {
    margin-left: 12px;
    text-align: left;
  }
  .artist__track-information {
    display: initial;
  }

  .artist__table-image {
    margin-left: -6px;
  }
  .mat-mdc-cell {
    text-align: center;
  }

  .artist__album {
    width: auto;
    height: auto;
  }

  .artist__form {
    display: grid;
    gap: 0px;
  }

  .artist__added-album {
    text-align: left;
  }
  .artist__button{
    width: 50%;
  }
}
