<div class="artist">
  <div class="artis__container">
    <img
      class="img-background"
      src="{{ artistDetails.images[0].url }}"
      alt=""
    />

    <div class="text">
      <h1>{{ artistDetails.name }}</h1>

      <div class="information">
        <h3>popularity:</h3>
        <app-star-rating
          [value]="artistDetails.popularity"
          style="margin-right: 20px"
        ></app-star-rating>

        <h3>followers:</h3>
        <h3>{{ artistDetails.followers.total | number }}</h3>
      </div>
    </div>
  </div>

  <h1 class="title">Albums</h1>
  <div class="albums">
    <mat-card class="albums__information" *ngFor="let album of albums">
      <div class="albums-image">
        <img
          (click)="openDialog(album)"
          mat-card-image
          src="{{ album.images[0].url }}"
        />
        <mat-icon
          class="add-icon"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
        ></mat-icon>
      </div>
      <mat-card-header (click)="openDialog(album)">
        <div>
          <mat-card-title>{{ album.name }}</mat-card-title>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <h1 class="title">Top Tracks</h1>
  <!-- <div class="artis__container">
    <div class="topTracks">
      <mat-list role="list">
        <h3
          (click)="openDialog(track)"
          *ngFor="let track of tracks"
          role="listitem"
        >
          {{ track.name }}
        </h3>
      </mat-list>
    </div>
  </div> -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>albums</th>
        <td
          class="search__table__information"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <h1 class="title">Added</h1>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>albums</th>
        <td
          class="search__table__information"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <br />
  <h1 class="title">New Album</h1>
  <form [formGroup]="formAlbum" (ngSubmit)="send()">
    <div class="form">
      <p>
        <mat-form-field appearance="fill">
          <input formControlName="name" matInput placeholder="Album Name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input
            matInput
            formControlName="year"
            type="number"
            placeholder="Album Year"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input matInput formControlName="url" placeholder="Url Image" />
        </mat-form-field>
      </p>
      <button mat-raised-button onclick=" " color="primary">Primary</button>
    </div>
  </form>
</div>
