/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif }
body.mat-typography{
  background-color: black;
}
:root{
  --display:grid;
  --justify-content:center;
  --aling-items:center;
  --overflow:hidden
  --text-color:white;
  --display-flex:flex;

}

